<h1>タスクの編集</h1>
<%= form_with(model: @task, local: true) do |f| %>
  <div class="field">
    <%= f.label :task_name, 'タスク名称' %><br>
    <%= f.text_field :task_name %><br>
    <%= f.label :task_content, 'タスク詳細' %><br>
    <%= f.text_area :task_content %><br>
  </div>
  <div>
    <%= f.submit "更新" %>
  </div>
<% end %>
