<h1><%= t('view.task_detail') %></h1>
<table>
  <tr>
    <td><%= t('view.task_name') %></td>
    <td><%= @task.task_name %></td>
  </tr>
  <tr>
    <td><%= t('view.task_detail') %></td>
    <td><%= @task.task_content %></td>
  </tr>
  <tr>
    <td><%= t('view.registerd_datetime') %></td>
    <td><%= @task.created_at %></td>
  </tr>
</table>
<%= link_to t('view.edit'), edit_task_path(@task.id) %> 
<%= link_to t('view.delete'), task_path(@task.id), method: :delete, data: { confirm: t('view.delete_confirm')} %> 